<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-game">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right" id="btn_exit">Exit</button>
				</div>
			</div>
		</nav>

	    <div class="container">
	    	
			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/house_<%=gameData.house%>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/skills/fear.jpg" title="Fear" alt="Fear" />
							<span><%=gameData.attributes.fear%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/skills/wisdom.jpg" title="Wisdom" alt="Wisdom"/>
							<span><%=gameData.attributes.wisdom%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/skills/commerce.jpg" title="Commerce" alt="Commerce"/>
							<span><%=gameData.attributes.commerce%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/skills/magic.jpg" title="Magic" alt="Magic"/>
							<span><%=gameData.attributes.magic%></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="actions" id="actions">Great Master of this Reign, what are your actions today?</div>
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
						<img src="images/others/subjects.jpg" title="Subjects" alt="Subjects" id="btn_subjects"/>
						<span>Subjects:<br><%=gameData.attributes.subjects%></span>
					</div>
					
					<div class="col-sm-1">
						<img src="images/others/scroll.jpg" title="Scrolls" alt="Scrolls" id="btn_scrolls"/>
						<span>Scrolls:<br><%=gameData.attributes.scrolls%></span>
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<img src="images/others/coin.jpg" title="Money" alt="Money"/>
						<span><%=gameData.attributes.money%></span>
					</div>
					
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#btn_exit').on('click', function() {
					window.location.href = '/logout';
				});

				$('#btn_subjects').on('click', function() {
					$.ajax({
						url: '/subjects',
						method: 'get',
						success: function(htmlData) {
							$("#actions").html(htmlData);
						}
					});
				});

				$('#btn_scrolls').on('click', function() {
					$.ajax({
						url: '/scrolls',
						method: 'get',
						success: function(htmlData) {
							$("#actions").html(htmlData);
						}
					});
				});
			});
		</script>
	</body>
</html>