<div id="scrolls" class="main_content_box">
	<h3>Scrolls</h3>
	
	<ul>
        <%
        if (actions.length < 1) { %>
            <li> There is no current actions for your subjects, give them an order and it will appear here! </li>
        <%
        } %>
        <%
        for(var i = 0; i < actions.length; i++) {
            var action_text = '';

            switch(parseInt(actions[i].action)) {
                case 1: action_text = 'subject(s) gibbeting villagers'; break;
                case 2: action_text = 'subject(s) collecting resources'; break;
                case 3: action_text = 'subject(s) training history'; break;
                case 4: action_text = 'subject(s) training magic'; break;
            }

            var date = new Date();
            var current_timestamp = date.getTime();
            var seconds = Math.round((actions[i].action_finishes_in - current_timestamp) / 1000);
            var numhours = Math.floor(((seconds % 31536000) % 86400) / 3600);
            var numminutes = Math.floor((((seconds % 31536000) % 86400) % 3600) / 60);
            var numseconds = (((seconds % 31536000) % 86400) % 3600) % 60;
            var remaining_time = numhours + " hours, " + numminutes + " minutes and " + numseconds + " seconds";

            %>
    		<li><%=actions[i].amount%> <%=action_text%>
                - <small><span class="remaining" data-seconds="<%=seconds%>"><%=remaining_time%></span> remaining 
                - <a href="/revoke_order?action_id=<%=actions[i]._id%>">revoke order</a></small>
            </li>
            <%
        } %>
	</ul>
</div>